/* dialog.component.css */
.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

header h1 {
  margin: 0;
  font-size: 1.5rem;
  color: #333;
}

.close-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #d01d1d; /* Color de la cruz */
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

button[type="submit"] {
  align-self: center;
}
